
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

    /* HAEDER */

header{
    width: 100%;
    background-color: #FFFFFF;
}

header img{
    margin: 1rem 0rem 1rem 7rem;
}

header p{
    font-family: 'Jost', sans-serif;
    font-style:normal;

}

.menu{
    display: flex;
    align-items: center;
    float: right;
    margin-right: 70px;
    padding: 35px 0px 0px 0px;
}
.menu p{
    margin: 0px 35px 0 0;
    font-weight: 500;
}

.botao-doar{
    border: solid #1CADFF;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 10px 25px 8.5px;
    color: #1CADFF;
}

    /* Slogan */

#slogan{
    background: linear-gradient(131.58deg, #00138E 6%, #1CADFF 67.14%, #1BE0E2 97.71%);
    border-bottom-right-radius: 250px;
    
}

.slogan {
    border-bottom-right-radius: 250px;
    height: 75vh;
    background-image:url(./Img/Trofeu-e-garrafa.png);
    background-repeat: no-repeat;
    background-position: bottom -1px right 100px;
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.slogan h1 {
    margin-left: 7rem;
    font-family: 'Jost', sans-serif;
    font-style:normal;

    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;  
}

    /*  SOBRE  */

#sobre{
    height: 75vh;
    font-family: 'Jost', sans-serif;
    font-style:normal;
    margin-left: 7rem;
    margin-top: 105px;
    display: flex;
    justify-content: space-between;
}

#sobre h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    color: #1C88D6;
}
#sobre hr{
    width: 200px;
    height: 4px;
    background: #D9D9D9;
    border: none;
    margin: 20px 0 20px 0;
}

#sobre p:first-of-type{
    font-weight: 400;
}

#sobre p{
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 60px;
}

#sobre img{
    width: 422px;
    height: 419px;
    margin-right: 7rem;
}

#ideais{
    height: 558px;
    background: linear-gradient(310.37deg, #00138E 10.43%, #1CADFF 68.35%, #1BE0E2 97.31%);
}

#ideais-titulo{

    font-family: 'Jost', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 40px;
    line-height: 58px;
    text-align: center;
    position: relative;
    top: 15px;
}
    /* IDEAIS DA EMPRESA */
#ideais hr{
    width: 200px;
    height: 4px;
    background: #FFFFFF;
    border: none;
    margin: 20px auto;
}

.ideais{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 240px;
}

.ideais img{

}


.ideais div{
    width: 259.91px;
    height: 317px;
    background: white;
    border-radius: 15px;
}



