/* HAEDER */

header{
    width: 100%;
    background-color: #FFFFFF;
}

header img{
    margin: 1rem 0rem 1rem 7rem;
}

header p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style:normal;

}

.menu{
    display: flex;
    align-items: center;
    float: right;
    margin-right: 70px;
    padding: 35px 0px 0px 0px;
}
.menu p{
    margin: 0px 35px 0 0;
}

.botao-doar{
    border: solid #1CADFF;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 10px 25px 8.5px;
    color: #1CADFF;
}

/* Slogan */

#slogan{
    background: linear-gradient(131.58deg, #00138E 6%, #1CADFF 67.14%, #1BE0E2 97.71%);
    border-bottom-right-radius: 250px;
    
}

.slogan {
    border-bottom-right-radius: 250px;
    height: 75vh;
    background-image:url(./Trofeu-e-garrafa.png);
    background-repeat: no-repeat;
    background-position: bottom -1px right 100px;
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.slogan h1 {
    margin-left: 7rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style:normal;

    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;  
}

/*  SOBRE  */

#sobre{
    height: 75vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-style:normal;
    margin-left: 7rem;
    margin-top: 105px;
    display: flex;
    justify-content: space-between;
}

#sobre h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 58px;
    color: #1C88D6;
}
#sobre hr{
    width: 200px;
    height: 4px;
    background: #D9D9D9;
    border: none;
    margin: 20px 0 20px 0;
}

#sobre p{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
font-size: 24px;
font-weight: 500;
line-height: 35px;
letter-spacing: 0em;
text-align: left;
margin-right: 60px;
}

#sobre img{
    width: 422px;
    height: 419px;
    margin-right: 7rem;
}



